extends ./modules/basic.pug
block content
  div.block-center
    h1 Objetivo
    p GalaxyLab tiene como objetivo facilitar, ampliar y mejorar la educacion de las personas, para que se puedan superar a si mismas
  div.block-center
    h1 Logros
    table.dark_data_table
      tr
        td
          span Usuarios
        td
          span Institutos
        td
          span Examenes
        td
          span Preguntas
        td
          span Post
      tr
        td
          span #{list.num_users}
        td
          span #{list.num_institutes}
        td
          span #{list.num_exams}
        td
          span #{list.num_questions}
        td
          span #{list.num_post}
